{% extends 'base.html' %}

{% load static %}

{% block body %}
<div class="container">
  <center><img class="materialboxed" width="250" src="{% static 'img/caroling.png' %}"></center>
  <div class="row">
    {% for title in titles %}
    <a href="{% url 'playlists:title_detail' title.id %}">
    <div class="col s12 m6">
      <div class="card darken-1">
        <div class="card-content">
          <span class="card-title">{{ title }}</span>
          <p>{{ title.date }}</p>
        </div>
      </div>
    </div>
    </a>
    {% endfor %}
  </div>
  <div class="twitter upup">
    <center>
      <a href="https://twitter.com/share?url=https://caroling.herokuapp.com/&text=Caroling&hashtags=プレイリストから音楽を！"
         class="btn" style="background-color: #42a5f5;"><span><i class="fab fa-twitter"></i></span>ツイッターでシェア</a>
    </center>
  </div>
</div>

{% endblock %}
