{% extends 'base.html' %}

{% block title %}{{ title.name }} -Caroling{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@jyouj__">
<meta name="og:url" content="https://caroling.herokuapp.com/{{ title.id }}">
<meta name="og:title" content="{{ title.name }} -Caroling">
<meta name="og:description" content="{{ title.name }}のセットリストから曲を探そう！">
<meta name="og:image" content="https://caroling.herokuapp.com/static/img/caroling2.jpg">
{% endblock %}

{% block body %}
<div class="container">
  <div>
    <h3 class="header">{{ title.name }}</h3> <h5><small>{{ title.date }}</small></h5>
  </div>
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th><span><i class="fas fa-sort-numeric-up"></i></span> 曲順</th>
        <th><span><i class="fas fa-music"></i></span> 楽曲</th>
        <th><span><i class="fas fa-female"></i></span> アーティスト</th>
        <th><span><i class="fas fa-external-link-alt"></i></span> 配信サイト</th>
        <th><span><i class="fab fa-youtube"></i></span> YouTube</th>
      </tr>
    </thead>
    <tbody>
    {% for song in title.song_set.all %}
      <tr>
        <td>{{ song.turn }}</td>
        <td>{{ song.song_name}}</td>
        <td>{{ song.artist }}</td>
        {% if not song.link == None %}
        <td><a href="{{ song.link }}">配信へ</a></td>
        {% else %}
        <td></td>
        {% endif %}
        {% if not song.youtube == None %}
        <td><a href="{{ song.youtube }}">公式チャンネルへ</a></td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>
  <div class="twitter upup">
    <center>
      <a href="https://twitter.com/share?url=https://caroling.herokuapp.com/{{ title.id }}&text={{ title.name }}をチェックしよう！&hashtags=プレイリストから音楽を！"
         class="btn" style="background-color: #42a5f5;"><span><i class="fab fa-twitter"></i></span>{{ title.name }}をシェア</a>
    </center>
  </div>
</div>
{% endblock %}
